In [ ]:
# Step 1: Import the required libraries
import pandas as pd
import numpy as np

# Step 2: Create the data
data = pd.DataFrame({'Age': [20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 50]})

    Age
0    20
1    21
2    22
3    23
4    24
5    25
6    26
7    27
8    28
9    29
10   30
11   50

In [5]:
# step 3: calculate the mean and standard daviation
mean = np.mean(data['Age'])
std = np.std(data['Age'])

data['z_score'] = (data['Age'] - mean) / std

In [7]:
print(f"Data With Z-Score: \n{data}")

Data With Z-Score:
    Age   z_score
0    20 -0.938954
1    21 -0.806396
2    22 -0.673838
3    23 -0.541280
4    24 -0.408721
5    25 -0.276163
6    26 -0.143605
7    27 -0.011047
8    28  0.121512
9    29  0.254070
10   30  0.386628
11   50  3.037793

In [11]:
print(f"Outlier: {data[data['z_score'] > 3]}")

Outlier:     Age   z_score
11   50  3.037793

In [12]:
# remove  the outlier
data = data[data['z_score'] <= 3]

print(f"printing all the data without outlier: {data}")

printing all the data without outlier:     Age   z_score
0    20 -0.938954
1    21 -0.806396
2    22 -0.673838
3    23 -0.541280
4    24 -0.408721
5    25 -0.276163
6    26 -0.143605
7    27 -0.011047
8    28  0.121512
9    29  0.254070
10   30  0.386628